// ==================================LAYOUT STYLES

.section--header {
  display: block;
  text-align: center;
  font-size: 28px;
  @media screen and (min-width: 540px) {
    font-size: 40px;
    margin-bottom: 5px;
  }
}

.button {
  border-radius: 15px;
  padding: 10px 1em 10px 1em;
  color: #fffeff;
  text-transform: uppercase;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  font-style: bolder;

  &:hover {
    background-color: #7df4fc;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    color: #0d1829;
    cursor: pointer;
  }
}

.hero {
  background-color: #affccd;
  padding: 10px;
  height: 250px;
  justify-content: flex-end;
  text-align: center;
  @media screen and(min-width:540px) {
    height: 300px;
  }
  &--tagline {
    color: #0d1829;
    text-transform: uppercase;
    font-size: 32px;

    @media screen and(min-width:540px) {
      font-size: 3.5em;
    }
  }

  &--button-dark {
    background-color: #0d1829;
  }
}

// ++++++++++++++++++++++COMPONENTS STYLES

.bookshelf {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  padding: 10px;
  margin: 0 auto;
}

.book {
  text-align: center;
  padding: 2px;
  margin: 0.7em;
  background-color: rgba(243, 230, 231, 0.925);
  border-radius: 7px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

  &--image {
    display: block;
    height: auto;
    margin-bottom: 5px;
  }
  &--title {
    margin-top: -15px;
  }
  &--button-light {
    color: #0d1829;
    background-color: #ffffff;
  }
}
