@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600');

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0 0 1.5em 0;
  font-family: 'Josefin Sans', sans-serif;
}
