// FONTS
$header-font: 'Rubik', sans-serif;
$header-color: #1b2733;
$body-font: 'Karla', sans-serif;
$text-color: #637282;

//Layout components
$hero-bgColor: #1d5464;
$btn-bgColor: #d8d860;

//BreakPoints
$_540: 540px;
$_720: 720px;
